<!--<div fxLayout="column" fxLayoutGap="8px" [@listAnimation]="items.length">

    <div fxLayout fxLayoutGap="15px" fxLayout.xs="column" fxLayoutAlign="center" fxLayoutGap.xs="10px">
        <button md-button color="primary" (click)="AddItemAtFirst()">Add Item at Start </button>
        <button md-button color="primary" (click)="AddItem()">Add Item At Last</button>
        <button md-raised-button color="accent" (click)="RemoveFirstItem()"> Remove First Item</button>
        <button md-raised-button color="accent" (click)="RemoveLastElement()">Remove Last Item</button>
    </div>
    <div id="list" class="list" *ngFor="let item of items">
        <md-card>
            <md-card-content>
                {{item}}
            </md-card-content>
        </md-card>
    </div>

    <div @divAnim fxLayout="row" fxLayoutAlign="center" fxLayoutGap="8px" fxLayout.xs="column">
        <div class="col" fxFlex>
            <p>In this tutorial, learn how to use the new Query and Stagger animation-specific functions</p>
        </div>
        <div class="col" fxFlex>
            <p>In this tutorial, learn how to use the new Query and Stagger animation-specific functions</p>
        </div>
        <div class="col" fxFlex>
            <p>In this tutorial, learn how to use the new Query and Stagger animation-specific functions</p>
        </div>
    </div>
</div>-->
<!--<router-outlet></router-outlet>-->
<td-layout mode="side" [opened]="false">

    <div td-sidenav-content>
        <td-expansion-panel label="Label goes here">
            <div>
                <md-list>
                    <md-list-item>
                        <button md-button>Home</button>
                    </md-list-item>
                </md-list>
            </div>
        </td-expansion-panel>
    </div>
    <td-layout-nav toolbarTitle="Home">
        <div td-toolbar-content>
            <!--Toolbar content Here-->
        </div>
        <td-layout-card-over cardTitle="{{title.replace('/','') | uppercase}}" cardWidth="85">
            <div class="app-content" style="padding:10px 10px">

            </div>
            <router-outlet></router-outlet>
        </td-layout-card-over>

    </td-layout-nav>
</td-layout>